@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 15px 46px;
    flex-wrap: wrap;
  }
}
.wrapper{
 max-width: 1770px;
 flex-wrap: wrap;
}

.logo{
  display: flex;
  &__title{
    font-size: 36px;
    line-height: 58px;
    margin-left: 12px;
    @extend %rubik-500;
    color: #436372;
  }
  &__img{
    width: 51px;
    height: 40px;
    transform: translateY(10px);
  }
}

.menu{
  padding-left: 180px;
  &__btn{
    display: none;
  }
  &__list{
   display: flex;
   justify-content: center;
 }
  &__list-item + .menu__list-item{
   margin-left: 35px;
 }
  &__list-link{
   font-size: 15px;
   line-height: 12px;
   color: #436372;
    @extend %rubik-500;
  }
}

.user-nav{
    display: flex;
    align-items: center;
    &--cont{
      display: none;
    }
  &__link + .user-nav__link{
    padding-left: 60px;
  }
  &__link-img{
    width: 18px;
    height: 16px;
  }
  &__link-search{
    width: 51px;
    height: 51px;
    background-color: #edf1f4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link-block{
    width: 178px;
    height: 51px;
    background-color: $accent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }
  &__link-ellipse{
    width: 51px;
    height: 51px;
    background-color: #a3bbc8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link{
   position: relative;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px colid #333;
    background-color: #fff;
    top: -10px;
    right: -8px;
    font-size: 10px;
    color: #334c59;
    text-align: center;
    line-height: 16px;
  }
}

.img-search{
  display: block;
}


  .top-slider{
    background-image: url('../images/top-slider-bg.png');
    background-color: $accent;
    background-repeat: no-repeat;
    background-size: 635px 635px;
    background-position: 1000px 100px;
    padding: 225px 0 275px;
    &__container{
      max-width: 1770px;
    }
    &__content{
      padding-left: 300px;
      margin-right: 60px;
    }
    &__box{
      display: flex;
    }
    &__title{
      @extend %rubik-500;
      font-size: 72px;
      line-height: 70px;
      color: $default;
      max-width: 470px;
      margin-bottom: 38px;  
    }
    &__text{
      @extend %rubik-400;
      font-size: 18px;
      color: #4f6b77;
      max-width: 370px;
      margin-bottom: 40px;
    }
    &__img{
      max-width: 640px;
      max-height: 263px;
      transform: translateY(70px);
    }

    &__link{
      display: block;
      width: 200px;
      @extend %btn;
      @extend %rubik-500;
      font-size: 15px;
      line-height: 12px;
      padding: 20px 0 20px 25px;
      position: relative;
      &::before{
        content: '';
        width: 23px;
        height: 10px;
        top: 0;
        right: 16px;
        transform: translateY(22px);
        background-image: url('../images/slider/arrow.svg');
        position: absolute;
      }
 }
   
    .slick-dots{
      display: flex;
      justify-content: center;
      transform: translateY(200px);
      li{
        margin: 0 8px;
        button{
        padding: 0;
        font-size: 10px;
        // background-color: transparent;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fde3cc;
        color: $default;
        font-weight: 400;
        border: none;
        left: 0;
        right: 0;
        }
        &.slick-active{
          button{
            background-color: #fff;
            font-size: 12px;
            font-weight: 700;
           
          }
        }
      }
    }
  }

  .slider-bottom{
    background-color: $unaccent;
    padding: 45px 0;
    margin-bottom: 75px;
    &__inner{
      display: flex;
      justify-content: space-around;
    }
    &__item-time{
      padding-left: 95px;
      position: relative;
      &::before{
        content: url('../images/24img.png');
        position: absolute;
         width: 50px;
         height: 50px;
         top: 0;
         left: 22px;
         transform: translateY(10px);
      }
    }
    &__item-deliv{
      padding-left: 95px;
      position: relative;
      &::before{
        content: url('../images/delivery-truck.png');
        position: absolute;
         width: 50px;
         height: 50px;
         top: 0;
         left: 22px;
         transform: translateY(10px);
     }
    }
    &__item-card{
        padding-left: 95px;
      position: relative;
      &::before{
        content: url('../images/credit-card.png');
        position: absolute;
         width: 50px;
         height: 50px;
         top: 0;
         left: 22px;
         transform: translateY(10px);
     }
    }
  &__title{
      @extend %dmsans-700;
      font-size: 18px;
      line-height: 40px;
      color: #414141;
    }
    &__text{
      color: #585858;
    }
    &__text-support{
      max-width: 200px;
    }
    &__text-secure{
      max-width: 210px;
    }
  }


  .intarier{
    margin-bottom: 450px;
    &__wrapper{
      background-image: url('../images/video-intarier-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: flex;
      justify-content: center;align-items: center;
    }
    .play-btn{
      width: 130px;
      height: 130px;
      display: inline-block;
      margin: 185px auto;
    }
  }


.categories-products{
  display: grid;
  min-height: 800px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 185px;
  &__item{
    height: 380px;
    width: 270px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
    }
  &__item-inner{
    height: 380px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 35px;
    &:hover .categories-products__link-box{
      z-index: 2;
      transition: all .5s;
    }
  }
  &__image{
 display: inline-block;
 margin-bottom: 60px;
 object-fit: cover;
  }
  &__name{
    @extend %dmsans-500;
    }
  &__price{
    @extend %dmsans-700;
    color: #a3bbc8;
    }
    &__link-box{
     display: flex;
     position: absolute;
     bottom: 150px;
     z-index: -1;
    }
    &__link{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 8px;
    &:hover{
      background-color: $bgbtn;
      transition: all .5s;
      path{
        fill: #fff;
        
      }
    }
  }
}

.mix-box{
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
  
  &__btn + .mix-box__btn{
     margin-left: 30px;
  }
  &__btn{
    display: block;
    border: none;
    padding: 0;
    background-color: transparent;
    @extend %dmsans-700;
    color: #8b8b8b;
     &:hover{
      color: #1a1a1a;
      cursor: pointer;
     }
  }
 }
.design{
 &__items{
   display: grid;
   min-height: 530px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-gap: 30px;
   margin-bottom: 120px;
 }
 &__item{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right center;
   padding-top: 35px;
   padding-left: 40px;
   width: 370px;
   height: 240px;
 }
 &__title,
 &__subtitle{
   font-size: 20px;
   line-height: 20px;
   margin-bottom: 5px;
   @extend %dmsans-700;
   color: #383838;
 }
 &__text{
   margin-bottom: 15px;
   color: #a9bfcb;
   @extend %dmsans-700;
 }
}

.light-wrapper{
   display: flex;
   margin-bottom: 100px;
}
.light-item__left{
  background-color: #feefe2;
  max-width: 870px;
  width: 50%;
  margin-right: 15px;
  max-height: 390px;
  display: flex;
  &-image{
    padding-left: 140px;
    transform: translateY(-88px);
  }
}
.light-item__right{
     background-color: #feefe2;
     max-width: 870px;
     width: 50%;
     margin-left: 15px;
     display: flex;
     max-height: 390px;
    
}
.light-content__right{
  margin-top: -18px;
}
.light-item__content{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     max-width: 350px;
  &-title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $default;
    padding: 100px 0 14px 18px;
   }
  &-text{
    @extend %rubik-400;
    color: $default;
    padding-left: 18px;
    margin-bottom: 32px;
  }
  &-link{
    font-size: 15px;
    @extend %rubik-500;
    color: $default;
    display: block;
    width: 180px;
    padding: 12px 15px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 18px;
    margin-bottom: 100px;
    position: relative;
      &::before{
        content: '';
        width: 23px;
        height: 10px;
        top: 0;
        right: 16px;
        transform: translateY(22px);
        background-image: url('../images/arrow-2.svg');
        position: absolute;
      }
      &:hover{
        background-color: $bgbtn;
        transition: all .3s;
      }
   }
}
.insights{
  background-color: $unaccent; 
   padding: 120px 0 90px;
  &-top{
    display: flex;
    justify-content: space-between;
  }
  &__inner{
  margin-top: -450px;
  }
  &-top__link{
    @extend %dmsans-500;
    color: #262626;
    padding-right: 25px;
    position: relative;
    &::after{
      content: '';
      background-image: url('../images/icons/arrow.png');
      position: absolute;
      width: 7px;
      height: 12px;
      top: 9px;
      transform: translateX(18px);
    }
  }
   &-items{
     display: flex;
     justify-content: space-between;
  }
  &__item{
     background-color: #fff;
     max-width: 370px;
     min-height: 100%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-between;
     transform: scale(1);
     box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
     transition: box-shadow 0.5s, transform 0.5s;
      &:nth-child(1){
        z-index: 1;
      }
      &:nth-child(2):hover{
        z-index: 2;
      }
      &:hover{
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
      }
  }
  &__image{
    display: block;
    img{
      height: 250px;
      object-fit: cover;
    }
  }
  &__content{
  padding: 35px 30px 25px;
  flex-grow: 1;
 }
  &__text{
     @extend %dmsans-500;
    font-size: 18px;
    color: #343434;
    border-bottom: 1px solid #343434;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
      &::before{
      content: "NEWS";
      @extend %btn;
      position: absolute;
      top: -52px;
      left: -5px;
      position: absolute;
      line-height: 1;
      padding: 10px 30px;
      @extend %poppins-700;
      font-size: 14px;
      border-radius: 20px;
     }
  }
  &__footer{
    font-size: 12px;
    color: #222933;
    display: flex;
    justify-content:space-between;
  }
  &__author{
     @extend %dmsans-400;
     font-style: 16px;
     color: $default;
  }
  &__date,
  &__author{
        padding-left: 20px;
        position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        left: 0;
        top: 9px;
      }
   }
     &__author::before{
       background-image: url('../images/icons/user-grey.svg');
       background-repeat: no-repeat;
     }
     &__date::before{
       background-image: url('../images/icons/time.svg'); 
       background-repeat: no-repeat; 
     }
}





 
  

.footer,
 .footer a{
 @extend %rubik-400;
 font-size: 14px;
 line-height: 34px;
 color: #7b7b7b;

}
.partners{
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
}
.footer-top{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 0 75px;
  border-bottom: 1px solid #dae4e9;
  &__contact{
    max-width: 230px;
    margin-right: 70px;
  }
  &__nav{
    max-width: 170px;
    margin-right: 130px;
  }
  &__item-account{
    max-width: 100px;
    margin-right: 200px;
  }
  &__phone,
  &__email{
    text-transform: uppercase;
    display: inline-block;
  }

  &__phone-link{
    @extend %dmsans-400;
    color: $default;
  }
  &__item-form{
    max-width: 270px;
  }
  &__logo{
    margin-bottom: 22px;
  }
  &__address,
  &__phone,
  &__email{
    margin-bottom: 10px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    margin: 20px 0 15px;
    text-transform: uppercase;
    pointer-events: none;
  }
  &__link{
    line-height: 32px;
  }
  &__title-text{
    margin-bottom: 30px;
  }
  &__form-input{
    max-width: 170px;
    background-color: $unaccent;
    border: none;
    padding: 12px 15px;
    &::placeholder{
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn{
    @extend %btn;
    }
  }

  .footer-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0 30px;
    &__list{
      display: flex;
    }
    &__item + .footer-bottom__item{
      margin-left: 15px;
      padding-left: 15px;
      border-left: 1px solid #7b7b7b;
    }
    &__link{
      @extend %rubik-400;
      font-size: 14px;
      line-height: 24px;
      color: #7b7b7b;
    }
  }

  .top{
    background-color: #edf1f4;
    padding: 36px 0;
    &__title{
      @extend %rubik-300;
      font-size: 36px;
      line-height: 24px;
      color: #222933;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .modal{
    padding-top: 120px;
    max-width: 470px;
    margin: 0 auto 120px;
    &__label{
      display: block;
      font-size: 14px;
      margin-bottom: 30px;
    }
    &__input{
      display: block;
      width: 100%;
      border: 2px solid #f6f6f6;
      padding: 0 15px;
    }
    &__btn{
      @extend %btn;
      display: block;
      width: 100%;
      padding: 20px auto;
      margin-bottom: 35px;
    }
    &__error{
      display: inline-block;
      @extend %rubik-400;
      font-size: 14px;
      color: $default;
    }
    &__box{
      display: flex;
      justify-content: space-between;
    }
    &__links{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__error-link{
        border-top:  2px solid #f6f6f6;;
        padding-top: 35px;
        width: 100%;
        text-align: center;
        @extend %rubik-400;
        font-size: 14px;
        color: $default;
        margin-bottom: 20px;
      }
    &__error-btn{
      width: 100%;
      padding: 20px 0;
      border: 2px solid $bgbtn;
      @extend %rubik-500;
      color: $default;
      font-size: 18px;
      text-align: center;
    }
  }
  .partners-box{
    background-color: $unaccent;
    padding: 10px 0 90px;
  }

  .terms{
    padding: 120px 0;
    margin-bottom: 270px;
    &__title{
      font-size: 24px;
      @extend %rubik-500;
      margin-bottom: 30px;
    }
    &__list{
     margin-bottom: 70px;
    }
    &__link{
      margin-bottom: 28px;
    }
    &__text{
      margin-bottom: 70px;
    }
    &__list-inner{
     padding-left: 15px;
    }
  }

  .about{
    &-top{
      padding: 120px 0;
      &__inner{
       display: flex;
       justify-content: space-between;
      }
      &__content{
      max-width: 570px;
      padding: 80px 0 90px 15px;
     }
      &__content-head{
        max-width: 300px;
        display: flex;
        margin-bottom: 50px;
      }
      &__content-number{
        @extend %rubik-700;
        font-size: 140px;
        line-height: 70px;
        color: $bgbtn;
      }
      &__content-items{
         padding-left: 20px;
      }
      &__text{
        padding: 0 0 65px 15px;
        border-bottom: 2px solid #ebeef3;
      }
      &__statistics{
        padding: 35px 0 15px 15px;
        max-width: 530px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item{
          padding: 10px 30px 10px 60px;
          text-align: center;
          border-right: 1px solid #ebeef3;
         }
          &-number{
          @extend %dmsans-700;
          font-size: 36px;
          line-height: 40px;
          color: #191919;
        }
         &-text{
          @extend %dmsans-700;
        }
         &-item--brnone{
          border: none;
         }
        &-item--projects{
          position: relative;
            &::before{
            content: '';
            position: absolute;
            background-image: url('../images/about/page.svg');
            background-repeat: no-repeat;
            background-position: center center;
            top: 21px;
            left: 0;
            width: 36px;
            height: 38px;
          }
        }
        &-item--rupor{
          position: relative;
          margin-left: 30px;
                      &::before{
            content: '';
            position: absolute;
            background-image: url('../images/about/rupor.svg');
            background-repeat: no-repeat;
            background-position: center center;
            top: 21px;
            left: 0;
            width: 43px;
            height: 39px;
          }
        }
        &-item--brnone{
          position: relative;
          margin-left: 30px;
                        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/about/medal.svg');
            background-repeat: no-repeat;
            background-position: center center;
            top: 21px;
            left: 0;
            width: 42px;
            height: 40px;
          }
         }
       }
      }
      &-rating{
        padding: 85px 0 80px;
        background-color: $accent;
      
        &__items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
      }
      &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__logo{
        margin-bottom: 20px;
      }
      &__title{
        @extend %dmsans-700;
        font-size: 36px;
        color: $default;
        margin-bottom: 25px;
      }
      &__text{
        @extend %dmsans-700;
        font-size: 18px;
      }
    }
   } 
   
   .team{
     display: flex;
     justify-content: space-between;
     margin-bottom: 270px;
     padding: 120px 0 170px;
     &-content{
       max-width: 340px;
       padding: 0 15px;
       &__title{
         margin-left: -40%;
       }
     }
     &__text{
       margin-bottom: 40px;
     }
     &__link{
      display: block;
      width: 200px;
      @extend %btn;
      @extend %rubik-500;
      font-size: 15px;
      line-height: 12px;
      padding: 20px 0 20px 25px;
      position: relative;
      &::before{
        content: '';
        width: 23px;
        height: 10px;
        top: 0;
        right: 16px;
        transform: translateY(22px);
        background-image: url('../images/slider/arrow.svg');
        position: absolute;
      }
    }
    &__items{
      display: grid;
      max-width: 770px;
       max-height: 750px;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(2, 1fr);
       grid-gap: 30px; 
    }
    &__photo{
        z-index: 1;
    }
    &__info{
      width: 200px;
      padding: 30px 0 30px 24px;
       background-color: #fff;
    }
    &__contacts{
      display: flex;
      width: 325px;
      z-index: 2;
      margin-top: -60px;
    }
    &__name{
      @extend %dmsans-700;
      font-size: 22px;
    }
    &__social-boximg{
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: #f6f6f6;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 3px;
    }
    &__social{
      width: 124px;
      padding: 36px 21px 30px 15px;
      display: flex;
     justify-content: center;
      align-items: center;
      background-color: #fff;
      &-img--inst{
        display: block;
        width: 17px;
        height: 17px;
       z-index: 3;
       
      }
      &-img--google{
        width: 23px;
        height: 14px;
      }
    }
  }
  
   .shop{
     padding: 120px 0 120px;
     &__inner{
       display: flex;
     }
     &__filters{
       width: 270px;
       margin-right: 30px;
     }
   }
      .filter{
   &__item{
     margin-bottom: 40px;
   }
   &__title{
     @extend %dmsans-700;
     text-transform: uppercase;
     display: inline-block;
     font-size: 18px;
     color: $default;
     margin-bottom: 30px;
     padding-right: 55px;
     position: relative;
     &::after{
       content: '';
       position: absolute;
       width: 38px;
       height: 3px;
       background-color: $bgbtn;
       top: 13px;
       right: 0;

     }
   }
}
  .filter-search{
     &__form{
       display: flex;
     }
      &__input{
        border: 1px solid #edf1f4;
        width: 220px;
        height: 50px;
        padding: 0 5px 0 17px;
      }
      &__btn{
        border: none;
        background-color: #edf1f4;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
   }

.filter-category{
  &__label{
    display: block;
    padding: 15px 0 15px 15px;
    display: flex;
    justify-content: space-between;
    color: #4c636e;
    cursor: pointer;
    &--active{
      background-color: #edf1f4;
    }
    }
   
   &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
    background-color: #edf1f4;
    }
  }
  &__checkbox{
   position: absolute;
   margin-top: 10px;
    width: 6px;
    height: 10px;
    margin-left: -20px;
    background-image: url('../images/icons/Shape 20.png');
  }
}

.filter-price{
  &__label{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    
  }
 
  &__block{
    width: 270px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__from{
    margin-right: 190px;
  }
  &__btn{
   @extend %btn;
   padding: 10px 30px;
   cursor: pointer;
   margin-left: 200px;
   margin-bottom: 40px;
  }
}


  
.irs--flat .irs-line {
    top: 6px;
    height: 3px;
    background-color: #dfe7ec;
    border-radius: 4px;
}

.irs--flat .irs-handle {
    top: 0;
    width: 15px;
    height: 15px;
    background-color: $bgbtn;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat .irs-bar {
    top: 6px;
    height: 4px;
    background-color: $bgbtn;
}

.irs-from, .irs-to, .irs-single{
  display: none;
  
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.irs--flat{
  height: 14px;
}

.filter-brand{
  &__label{
    cursor: pointer;
    &--active{
      background-color: #edf1f4;
    }
  }
  &__input{
  @extend %checkbox-hidden;
  &:checked + .filter-brand__checkbox{
    background-color: #edf1f4;
  }
  }
  &__checkbox{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 16px 16px;
  }
}

.product-item{
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  &__image{
    width: 70px;
    height: 70px;
    margin-right: 18px;
  }
  &__text{
    padding: 3px 7px 12px;
   font-size: 14px;
   color: #333333;
  }
  &__price{
    padding: 10px 7px 3px;
    font-size: 15px;
     color: #333333;
  }
 
}

.shop-content{
  &__inner{
  display: grid;
  min-height: 1640px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  margin-left: 30px;
   margin-bottom: 100px; 
 }
}
  
.pagination__prev{
  display: none;
}

.shop-content{

  &__box-item{
    display: flex;
  }
  &__product-img{
    height: 500px;
    width: 370px;
    padding: 80px 25px;
    text-align: center;
    display: block;
    border: 1px solid #f2f2f2;
    margin: 0 30px;
    margin-bottom: 40px;
  }
  &__title{
    font-size: 40px;
    margin-bottom: 25px;
  }
  &__price{
    font-size: 30px;
    margin-bottom: 38px;
  }
  &__text{
    margin-bottom: 38px;
  }
    &__btn{
    @extend %btn;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    padding: 16px 50px;
  
  }
  
  &__info{
    max-width: 440px;
    padding: 90px 0 70px 25px;
  }

  &__link-box{
    display: flex;
    
  }

  &__bottom-box{
    display: flex;
    justify-content: space-between;
   }


  &__link{
      width: 50px;
      height: 50px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 8px;
         &:hover{
      background-color: $bgbtn;
      transition: all .5s;
      border-radius: none;
      path{
        fill: #fff;
        
      }
    
    }
  }
}

.star-list{
  margin-bottom: 35px;
}

.insights-product{
  margin-top: 450px;
}

.product-page{
  padding-top: 120px;
}
.product-one{
  margin-bottom: 100px;
  &__inner{
    display: flex;
  }
  &__slide{
    width: 550px;
    margin-right: 50px;
  }
  &__content{
     width: 570px;
     padding: 25px 0 0 20px;
  }
  &__title{
    font-size: 40px;
    color: #333333;
    margin-bottom: 25px;
  }
  &__item-star{
    margin-bottom: 35px;
  }
  &__price{
    font-size: 30px;
    color: #333333;
    margin-bottom: 35px;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__box-input{
    margin-bottom: 55px;
  }
  &__item-btn{
    @extend %btn;
    text-transform: uppercase;
    padding: 12px 50px;
    border-radius: 5px;
    margin-left: 15px;
  }
}
.jq-number__field {
    width: 150px;
    border: 1px solid $bgbtn;
    position: relative;
         &::after{
       content: '';
       position: absolute;
       top: 0;
       left: 46px;
       width: 1px;
       height: 50px;
       background-color: $bgbtn;
     }
       &::before{
       content: '';
       position: absolute;
       top: 0;
       right: 46px;
       width: 1px;
       height: 50px;
       background-color: $bgbtn;
     }
}
.jq-number__field input {
  
    width: 100%;
    height: 50px;
    padding: 8px 43px;
    border: none;
    outline: none;
    @extend %dmsans-400;
    color: #5c5c5c;
    text-align: center;

}
.jq-number{
  padding: 0;
     position: relative;
}

.jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.jq-number__spin.minus{
   left: 20px;
}
.jq-number__spin.plus{
    right: 15px;
}
.jq-number__spin:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    background-color: #333333;
    width: 9px;
    height: 1px;
}
.jq-number__spin.plus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    background-color: #333333;
    width: 1px;
    height: 9px;
}
// .jq-number__spin.minus:after{

// }



.product-slide{
  display: flex;
  .slick-vertical .slick-slide{
   height: 160px;
   margin-bottom: 30px;
  }
  &__thumb{
    width: 140px;
    margin-right: 30px;
     border: 1px solid #f2f2f2;
    //  padding-top: 12px;
     padding-left: 12px;
  }
  &__thumb-item{
    margin-bottom: 30px;
    width: 140px;
    height: 160px;
    cursor: pointer;
    img{
      width: 140px;
      height: 160px;
      object-fit: contain;
    }
  }
  &__big{
    width: 380px;
    img{
      width: 380px;
      height: 570px;
      object-fit: contain;
      border: 1px solid #f2f2f2;
      padding: 40px 70px;
    }
  }
}

.product-tabs{
  margin-bottom: 130px;
&__top{
  display: flex;
  justify-content: center;
}
&__top-item{
  @extend %btn;
  width: 240px;
  margin: 0 7px 40px 7px;
  text-align: center;
  color: $default;
  font-size: 18px;
  @extend %rubik-500;
  border-radius: 5px;
  background-color: #edf1f4;
}
&__top-item--active{
  color: #fff;
  background-color: $bgbtn;
}
&__content-item{
  display: none;
  &.product-tabs__content-item--active{
    display: block;
  }
}
}

.related{
  margin-bottom: 120px;
  &__title{
    color: $default;
    text-align-last: left;
    margin-bottom: 70px;
  }
  &-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
  }
  &-top{
    display: flex;
    justify-content: space-between;
    &__arrow{
      padding: 12px 12px;
      border: 1px solid #edf1f4;
      border-radius: 3px;
      &.related-top__arrow--active{
        border: 1px solid $bgbtn;
      }
      & + .related-top__arrow{
        margin-left: 20px;
      }
    }
  }
}

.blog{
  &__inner{
   display: flex;
   padding: 120px 0 75px;
 }
 &__items{
   max-width: 830px;
   margin-right: 70px;
 } 
 &__aside{
   width: 270px;
 }
}
.blog-item{
  &__title{
    font-size: 32px;
     margin-bottom: 40px;
     }
  &__text{
     margin-bottom: 40px;
}
  &__link-btn{
    margin-bottom: 40px;
    font-size: 15px;
    @extend %rubik-500;
    color: $bgbtn;
    display: block;
    width: 180px;
    padding: 12px 15px;
    border: 1px solid $bgbtn;
    cursor: pointer;
    margin-left: 18px;
    margin-bottom: 100px;
    position: relative;
      &::before{
        content: '';
        width: 23px;
        height: 10px;
        top: 0;
        right: 16px;
        transform: translateY(22px);
        background-image: url('../images/arrow-2 copy.svg');
        position: absolute;
        }
      &:hover{
        border: 1px solid $default;
      
      }
   }
   &__link-btn_last{
     margin-bottom: 0;
   }
}
.blog-item__link-btn{
  margin-left: 0;
}
.insights__footer-blog{
  opacity: 0.9;
  padding: 28px 25px 30px 20px;
  width: 275px;
  height: 70px;
  background-color: #a3bbc8;
  justify-content: start;
  align-items: center;
  color: #fff;
  margin-top: -70px;
  margin-bottom: 40px;
  }
  .insights__author-blog{
    color: #fff;
    margin-left: 20px;
  
  }
  
  .insights__author-blog,
  .insights__date-blog{
        padding-left: 20px;
        position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        left: 0;
        top: 9px;
      }
   }
     .insights__author-blog::before{
       background-image: url('../images/icons/user-grey copy.svg');
       background-repeat: no-repeat;
     }
     .insights__date-blog::before{
       background-image: url('../images/icons/time copy.svg'); 
       background-repeat: no-repeat; 
     }

     .posts{
       &__item{
       display: flex;
       max-width: 270px;
       }
       &__item-img{
         width: 70px;
         height: 70px;
         object-fit: cover;
       }
       &__item-link{
         min-width: 70px;
         margin: 0 20px 20px 0;
       }
       &__item-text{
         font-style: 14px;
         line-height: 22px;
         margin-bottom: 3px;
       }
       &__item-date{
         color: #c2c2c2;
         padding-left: 20px;
         position: relative;
         &::before{
           content: '';
           position: absolute;
           background-image: url('../images/icons/time.svg');
           background-repeat: no-repeat;
           top: 9px;
           left: 0;
           width: 12px;
           height: 14px;
         }
       }
     }
.pagination__blog-page{
  margin-bottom: 120px;
  justify-content: start;
  padding-left: 0;
  margin-left: 0;
}

.contact{
  &__inner{
    padding-top: 120px;
    text-align: center;
  }
  &__subtitle{
    @extend %poppins-700;
    color: $bgbtn;
    margin-bottom: 10px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: $default;
    margin-bottom: 75px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  &__item{
    max-width: 370px;
    width: 100%;
    padding: 70px 55px 80px;
    background-color: #fafafa;
    transition: all .5s;
    cursor: pointer;
      &:hover{
        path{
          fill: #fff;
        }
      border: 1px solid $bgbtn;
        .contact__item-imgbox{
        background-color: $bgbtn;
       }
     }
  }
  &__item-title{
    font-size: 20px;
    @extend %dmsans-700;
    color: #333;
    margin-bottom: 15px;
  }
  &__item-imgbox{
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto 60px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  &__form{
    max-width: 620px;
    width: 100%;
  }
  &__form-input{
    padding: 20px 50px 20px 20px;
    width: 300px;
    border: none;
    background-color: #fafafa;
    margin-bottom: 25px;
  }
  &__form-input--name{
    margin-right: 15px;
   }
 
    &__form-inner{
      max-width: 620px;
      width: 100%;
      display: flex;
    }
    &__form-box--name{
      min-width: 300px;
      position: relative;
      &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/form-user.svg');
      background-repeat: no-repeat;
      top: 28px;
      right: 36px;
      width: 14px;
      height: 15px;
    }
  }
      &__form-box--email{
        position: relative;
        min-width: 300px;
        &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/form-email.svg');
      background-repeat: no-repeat;
      top: 30px;
      right: 28px;
      width: 18px;
      height: 15px;
    }
  }
  &__form-textarea--box{
    position: relative;
            &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/form-messeng.svg');
      background-repeat: no-repeat;
      top: 18px;
      right: 32px;
      width: 18px;
      height: 15px;
    }
  }
  &__form-textarea{
    width: 100%;
    background-color: #fafafa;
    border: none;
    padding: 16px 50px 0 20px;
    height: 174px;
    margin-bottom: 30px;
    
  }
   &__form-btn{
     @extend %btn, %poppins-700;
     border-radius: 5px;
     width: 200px;
     height: 50px;
     font-size: 15px;
   }
   &__form-wrapper{
     margin-right: 50px;
   }
}
#map{
  width: 500px;
  height: 335px;
}
.box-form{
  display: flex;
}


@import 'media';

  